<body>
    <div class="container">
        <div>
            <div id="textsesion">
                <h2>Inisio sesion</h2>
            </div>
            <div id="login">
                <form>
                    <div style="margin-left: 150px;">
                        <i class="bi bi-person-bounding-box" style="font-size: 7rem; color: rgb(223, 217, 217);"></i>
                    </div>
                    <div class="mb-3">
                        <label for="user" class="form-label">Usuario</label>
                        <div style="display: flex;">
                            <input type="text" class="form-control" id="user" aria-describedby="emailHelp" placeholder="Ingrese el usuario">
                            <i class="bi bi-person-fill-lock" style="font-size: 2rem; color: black;"></i>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="pasword" class="form-label">Contrasena</label>
                        <div style="display: flex;">
                            <input type="password" class="form-control" id="pasword" aria-describedby="emailHelp" placeholder="ingrese la contrassena">
                            <i class="bi bi-shield-lock" style="font-size: 2rem; color: black;"></i>
                        </div>
                    </div>
                    <div style="text-align: center;">
                    <a href="">Migracion manual de usuarios</a>
                    <br><br>
                     <button type="submit" class="btn btn-primary">Ingresar</button>
                     </div>
                </form>
            </div>
        </div>
        <div>
            <img src="assets/img/logo.png" alt="">
        </div>

    </div>
</body>