<body>
    <div class="container">
        <div>
            <div id="textsesion">
                <h2>Inicio sesión</h2>
            </div>
            <div id="login">
                <form [formGroup]="formulario" (ngSubmit)="login()">
                    <div style="margin-left: 150px;">
                        <i class="bi bi-person-bounding-box" style="font-size: 7rem; color: rgb(223, 217, 217);"></i>
                    </div>
                    <div class="mb-3">
                        <label for="usuario" class="form-label">Usuario</label>
                        <div style="display: flex;">
                            <input formControlName="txtusuario" type="text" class="form-control" id="usuario"
                                placeholder="Ingrese el usuario" [(ngModel)]="user.usuario" required>
                            <i class="bi bi-person-fill-lock" style="font-size: 2rem; color: black;"></i>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="clave" class="form-label">Contraseña</label>
                        <div style="display: flex;">
                            <input formControlName="txtpass" type="password" class="form-control" id="clave"
                                placeholder="Ingrese la contraseña" [(ngModel)]="user.clave">
                            <i class="bi bi-shield-lock" style="font-size: 2rem; color: black;"></i>
                        </div>
                    </div>
                    <div style="text-align: center;">
                        <a [routerLink]="['/migra_manual']">Migracion manual de usuarios</a>
                        <br><br>
                        <!-- <button type="submit" class="btn btn-primary" [routerLink]="['/migra_automatico']">Ingresar</button> -->
                        <button type="submit" class="btn btn-primary">Ingresar</button>

                    </div>
                </form>
            </div>
        </div>
        <div>
            <img src="assets/img/logo.png" alt="">
        </div>

    </div>
</body>