<body>
    <div class="container-auto">
        <div class="panel">
            <div class="auto-migracion">
                <h2>Migracion automática de Usuario</h2>
                <p>
                    Esta opción permite cargar un archivo de usuario <br>
                    para ejecutar el proceso de migración automática.
                </p>
                <div class="file-upload">
                    <button class="btn-procesar" (click)="procesarMigracion()">Procesar migración automática</button>
                </div>


                <h3 class="titleTable">Reporte de Estados</h3>
                <div class="table-container">
  <table class="tabla-estados">
    <thead>
      <tr>
        <th>id</th>
        <th>estado</th>
        <th>total</th>
        <th>exitosos</th>
        <th>errores</th>
        <th>duplicados</th>
        <th>fecha</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let proceso of listaProcesos">
        <td>{{ proceso.idProceso }}</td>
        <td>{{ proceso.estado }}</td>
        <td>{{ proceso.total }}</td>
        <td>{{ proceso.exitosos }}</td>
        <td>{{ proceso.errores }}</td>
        <td>{{ proceso.duplicados }}</td>
        <td>{{ proceso.fecha }}</td>
      </tr>
    </tbody>
  </table>
</div>
                <div class="paginacion">
                    <span>&lt;</span>
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                    <span>5</span>
                    <span>6</span>
                    <span>&gt;</span>
                </div>


            </div>
        </div>

        <div class="admin-panel">
            <h3>Panel de Administrador</h3>
            <button class="btn-ingresar" [routerLink]="['/migra_manual']">
                <i class="bi bi-journal-arrow-up"></i> <br>
                Ingresar migración manual
            </button>
            <button class="bi bi-door-open-fill" style="font-size: 3rem;border-radius: 10px;"></button>
            <img src="https://www.iconarchive.com/download/i98238/dakirby309/simply-styled/Control-Panel.ico" alt="">
        </div>
    </div>
</body>